.forgot-password__container {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/7319143/pexels-photo-7319143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password__wrapper {
  max-width: 100%;
  min-width: fit-content;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
